@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: #C1CBCA;
}


.borderTest {
  border: 1px solid red;
}

.homeFirstCard {
  background-image: url('/assets/design.png');
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homeSecondCard {
  background-image: url('/assets/kudn.png');
  height: fit-content;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.todaysHitsCard {
  background-image: url('/assets/artistoftheweek.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
}

.podcastsCard {
  background-image: url('/assets/podcasts.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.activeCardTest {
  color: #023430 !important;
  background-color: #C1CBCA !important;
  padding: 4px 12px 4px 12px;
  border-radius: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C1CBCA;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(94, 94, 94, 0.671)
}

.profileCover {
  background-image: url("/assets/profileCover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; 
}

.faded {
  background-image: linear-gradient(to top, rgba(193, 203, 202, 0.35), rgb(0, 0, 0, 0.01));
}

.artistCover {
  background-image: url("/assets/artistCover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 35%;
}