@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Open+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-color: #C1CBCA;
}


.borderTest {
  border: 1px solid red;
}

.homeFirstCard {
  background-image: url('/assets/design.png');
  height: fit-content;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homeSecondCard {
  background-image: url('/assets/kudn.png');
  height: fit-content;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}